  h1 {
    background-color: lightblue;
    background-image: url("https://assets.marinemuseum.nl/app/uploads/2020/02/tonijn_marinemuseum_staand-256x448.jpg") no-repeat right top;
  }
div {
  background-color: black;
}
